	@charset "UTF-8";

	*{ padding: 0; margin: 0;}
	ul, ol, li{ list-style: none;}
	a{ text-decoration: none;}

	.fixed-con{ width: 1190px; margin: 0 auto;}
	.menu-con, .footer-con{ min-width: 1190px;}

	.search-con{ height: 160px; position: relative;}
	/* 검색창 */
	.box-search{
		width: 586px; height: 56px; position: absolute;
		left: 268px; top: 50%; margin-top: -28px;
	}
	.box-search-in{
		height: 100%; box-sizing: border-box; border: 2px solid #19ce60;
		border-radius: 2px; background-color: #fff;
	}
	.input-search{
		border: 0; outline: 0; width: 474px; height: 50px; box-sizing: border-box;
		padding: 13px 5px; margin: 1px; font-size: 18px; line-height: 24px;
		font-weight: bold;
	}
	.btn-submit{
		width: 56px; height: 55px; box-sizing: border-box; position: absolute;
		background-color: #19ce60; border-radius: 0 2px 2px 0;
		border: 0; outline: 0; cursor: pointer; top: 0; right: 0;
	}
	.icon-search{
		display: inline-block; width: 22px; height: 22px;
		background-position: -420px 0;
	}

	/* 네이버 로고 */
	.link-naver{
		width: 222px; height: 52px; position: absolute;
		background-position: 0 -158px; top: 50%; margin-top: -32px;
		left: 21px; 
	}

	/* 우측 상단 링크들 */
	.search-con .box-service{
		position: absolute; top: 12px; right: 27px;
	}
	.search-con .link-set-naver{
		font-size: 11px; color: #404040;
		line-height: 16px;
	}
	.search-con .box-service>*{
		float: left;
	}
	.search-con .link-set-naver::after{
		width: 26px; height: 26px; display: inline-block; content: '';
		background-position: -308px -345px; vertical-align: top;
		margin: -3px 0 0 3px;
	}
	.search-con .link-set-naver:hover{
		text-decoration: underline;
	}
	.search-con .bar{
		width: 1px; height: 10px;
		background-color: #e4e8eb; 
		margin: 3px 7px;
	}
	.icon-jr-naver{
		display: inline-block; width: 60px; height: 10px;
		margin: 3px; background-position: -262px -330px;
		vertical-align: top;
	}
	.link-happybin{
		margin-left: 6px;
	}
	.icon-happybin{
		display: inline-block; width: 34px; height: 11px;
		margin: 3px 3px 2px; background-position: -369px -299px; 
		vertical-align: top;
	}
		.link-jr-naver:hover .icon-jr-naver{
		background-position: -200px -330px;
	}
		.link-happybin:hover .icon-happybin{
			background-position: -380px -199px; 
		}

	/* 가상 키보드 */
	.search-con .btn-kbd{
		position: absolute; top: 0; bottom: 0; width: 36px; right: 84px;
	}
	.search-con .icon-kbd{
		width: 20px; height: 12px; display: inline-block; position: absolute;
		top: 50%; left: 50%; margin: -6px 0 0 -10px;
		background-position: -420px -402px;
	}
	.search-con .btn-kbd:hover .icon-kbd{ 
		background-position: -206px -389px;
	}

	/* 자동 완성 */
	.search-con .btn-auto-down{
		position: absolute; top: 0; bottom: 0; width: 22px; right: 64px;
	}
	.search-con .icon-auto{
		width: 10px; height: 5px; display: inline-block; position: absolute;
		top: 50%; left: 50%; margin: -2px 0 0 -5px;
		background-position: -408px -100px;
	}
	.search-con .btn-auto-down.up .icon-auto{
		background-position: -408px -93px;
	}

	/* 자동 완성 */
	.search-con .box-auto-content{
		margin-top: -1px; border: 1px solid #e4e7e8;
		border-radius: 0 0 6px 6px; border-top: 0;
		box-shadow: 0 2px 3px 0 rgb(0 1 3 0.07);
		background-color: #fff;
		/* display: none;  */
		/* display: none으로 검색창에 자동완성 안 뜨게 만듦 */
	}
	.search-con .box-auto-footer{
		height: 40px; box-sizing: border-box; border-top: 1px solid #f1f4f6;
		border-radius: 0 0 6px 6px; background-color: #f9fafb;
		line-height: 37px; font-size: 13px;
	}
	.search-con .box-auto-footer .box-left{
		float: left; padding-left: 12px; 
	}
	.search-con .box-auto-footer .box-right{
		float: right; padding-right: 12px; 
	}
	.search-con .box-auto-footer .item{
	padding: 0 6px; color: grey;	float: left;
	}
	.search-con .box-auto-footer .report{
		color: #03c75a;
	}
	.search-con .box-auto-footer .item+.item::before{
		width: 1px; height: 11px; float: left;
		margin-top: 14px; content: ''; background-color: #e2e2e2;
		margin-left: -6px;
	}
	.search-con .box-auto-footer .item:hover{
		text-decoration: underline;
	} 

	/* 메뉴 */ /*메뉴콘 높이 11+11+30=52*/
	.menu-con{ 
		height: 52px; background: #fff;
		border-top: 1px solid #e4e8eb;
		box-shadow: 0 1px 3px 0 rgb(0, 0, 0, 0.12);
		padding: 0 30px; margin: 0 auto;
	}
	.menu-con .box-menu{
		padding: 11px 270px 11px 0; float: left;
	}
	.menu-con .list-menu{
		font-size: 15px; line-height: 30px; float: left; 
		letter-spacing: -0.3px; font-weight: bold;
	}
	.menu-con .list-menu+.list-menu{
		margin-left: 12px;
	}
	.menu-con .list-menu .item-menu{
		float: left;
	}
	.menu-con .list-menu .item-menu+.item-menu{
		margin-left: 12px;
	}
	.menu-con .list-menu .item-menu .link-menu{
		color: #000;
	}
	.menu-con .list-menu.fixed .item-menu .link-menu{
		color: #03c75a;
	}
	.menu-con .list-menu .mail::before{
		content: ''; display: inline-block; width: 21px; height: 21px; 
		background-position: -420px -73px;
		vertical-align: top; margin: 3px 9px 0 0;
	}
	.menu-con .list-menu .shopping::before{
		content: ''; display: block; width: 24px; height: 20px;
		background-position: -154px -389px;
		margin-top: 5px;
	}
	.menu-con .list-menu .shopping-live::before{
		content: ''; display: block; width: 54px; height: 26px;
		background-position: -202px -299px;
		margin-top: 5px;
	}
	.menu-con .list-menu .tv::before{
		content: ''; display: inline-block; width: 12px; height: 14px;
		background-position: -444px -49px; vertical-align: top;
		margin: 9px 2px 0 0;
	}
	/* 더보기 버튼 */
	.menu-con .btn-more{
		float: left; margin-left: 17px; line-height: 30px;
		color: #202020; font-size: 13px;	
	}
	.menu-con .btn-more::after{
		content: ''; display: inline-block; width: 11px; height: 7px;
		background-position: -444px -339px;	
		margin-left: 7px; vertical-align: 2px;
	}
	.menu-con .btn-more:hover{
		text-decoration: underline;
	}
	.menu-con .btn-more.fold{
		color: #0ecd5a;
	}
	.menu-con .btn-more>.title{
		float: left;
	}
	.menu-con .btn-more>.title:nth-child(2){
		display: none; 
	}
	.menu-con .btn-more.fold>.title:nth-child(1){
		display: none;
	}
	.menu-con .btn-more.fold>.title:nth-child(2){
		display: inline;
	}
	.menu-con .btn-more.fold::after{
		background-position: -444px -330px;
	}

	/* 컨텐츠 박스 */
	.content-con.fixed-con{
		padding: 20px 30px; letter-spacing: -.2px;	
	}
	.content-con .box-left{
		float: left; width: 750px; height: 100%; background-color: #fff;
	}
	.content-con .box-right{
		float: right; width: 350px; height: 100%; background-color: #fff;
	}

	/* 왼쪽 1번째 박스(광고) */
	.content-con .box-left1,
	.content-con .box-right1{
		margin-bottom: 12px;
	}
	.content-con .box-left1 .link-ad{
		display: block; height: 135px;
	}

	 /* 왼쪽 2번째 박스(연합뉴스) */
	 .content-con .box-left2{
		padding: 12px 15px 11px 15px; 
		background-color: #f7f9fa; border: 1px solid #dae1e6;
		line-height: 24px;
	 }
	 .content-con .box-left2 .box-issue{
		float: left;
	 }
	 .content-con .box-left2 .box-direct{
		float: right; font-weight: bold;
	 }
	.content-con .box-left2 .link-media{
		float: left; padding-right: 12px; margin-right: 7px;
		font-size: 13px; color: #000; font-weight: 700;
		letter-spacing: -.3px; position: relative;
	}
	.content-con .box-left2 .link-media::after{
		content: ''; position: absolute;
		top: 7px; right: 0;	width: 6px; height: 10px;
		background-position: -444px -380px;
	}
	.content-con .box-left2 .list-issue{
	  float: left; overflow: hidden;
		width: 310px; height: 24px;
	}
	.content-con .box-left2 .link-issue{
		width: 310px; overflow: hidden;
		text-overflow: ellipsis; white-space: nowrap;
		font-size: 13px; display: block; color: #202020;
	}
	.content-con .box-left2 .link-issue:hover{
		text-decoration: underline;
	}
	.content-con .box-left2 .box-direct>a{
		float: left; font-size: 13px; color: #202020;
		margin: 0px 4px 0px 7px;
	}
	.content-con .box-left2 a.link-news-home{
		color: #3565c9; margin: 0;
	}
	.content-con .box-left2 .link-news-home::after{
		content: ''; display: inline-block;
		width: 3px;	height: 3px; border-radius: 50%;
		margin-left: 8px; vertical-align: 3px;
		background-color: #c8ccd1;
	}

	/* 왼쪽 3번째 박스(언론사) */
	.content-con .box-left3 .box-group-title{
		padding: 22px 0 16px; font-size: 14px; line-height: 18px;
	}
	.content-con .box-left3 .box-inner-left{
		float: left;
	}
	.content-con .box-left3 .box-inner-right{
		float: right;
	}
	.content-con .box-left3 .link-news-stand{
		float: left; color: #000; font-weight: bold; 
		background: none !important;
	}
	.content-con .box-left3 .link-news-stand::before{
		content: ''; display: inline-block; 
		width: 27px; height: 24px; vertical-align: top;
		background-position: -336px -345px;
		margin: -6px 1px 0px 0px;
	}
	.content-con .box-left3 .link-news-stand::after{
		content: ''; display: inline-block; 
		width: 7px; height: 11px; 
		background-position: -444px -317px;
		margin: 0px 0px 0px 6px; vertical-align: -1px;
	}
	.content-con .box-left3 .btn-my-sub{
	  font-size: 14px; 
		color: #505050; margin-left: 10px;
	}
	.content-con .box-left3 .btn-my-sub.active,
	.content-con .box-left3 .btn-all-sub.active{
		color: #000; font-weight: bold;
	}
	.content-con .box-left3 .btn-all-sub{
		 color: #505050; font-size: 14px;
	}
	.content-con .box-left3 .btn-all-sub::before{
		content: ''; display: inline-block; 
		width: 4px; height: 4px; vertical-align: 3px;
		border-radius: 50%; margin: 0 8px 0 4px;
		background-color: #c7ccd1;
	}
	.content-con .box-left3 .btn-article-view,
	.content-con .box-left3 .btn-article-view~a{
		padding: 0 9px; float: left;
	}
	.content-con .box-left3 .icon-list{
		display: inline-block; width: 14px; height: 13px;
    background-position: -49px -419px; 
		vertical-align: top; opacity: 0.7;
	}
	.content-con .box-left3 .icon-title{
		display: inline-block; width: 13px; height: 13px;
    background-position: -444px -34px; 
    vertical-align: top; opacity: 0.7;
	}
	.content-con .box-left3 .icon-set{
		display: inline-block; width: 15px; height: 15px;
    background-position: 0 -419px; vertical-align: top;
    opacity: 0.7; margin: -1px 0 1px;
	}
	.content-con .box-left3 a:hover .icon-list,
	.content-con .box-left3 a:hover .icon-title,
	.content-con .box-left3 a:hover .icon-set{
		opacity: 1;
	}
	.content-con .box-left3 .active .icon-list{
		background-position: -17px -419px;
		opacity: 1;
	}
	.content-con .box-left3 .active .icon-title{
		background-position: -444px -19px;
		opacity: 1;
	}
	.content-con .box-left3 .box-group-press{
		position: relative;
	}
	.content-con .box-left3 .list-group-press{
		border: 1px solid #dae1e6;	height: 260px; 
	}
	.content-con .box-left3 .item-press{
		float: left; width: calc(100% / 6);
		height: 65px; position: relative;
	}
	.content-con .box-left3 .link-press{
		display: block; padding: 23px 0 22px;
		text-align: center; height: 20px;
	}
	.content-con .box-left3 .line{
		position: absolute; 
		background-color: #e4e8eb; z-index: 1;
	}
	.content-con .box-left3 .to-bottom1,
	.content-con .box-left3 .to-bottom2,
	.content-con .box-left3 .to-bottom3,
	.content-con .box-left3 .to-bottom4,
	.content-con .box-left3 .to-bottom5{
		width: 1px; top: 0; bottom: 0;
	}
	.content-con .box-left3 .to-bottom1{left: 125px}
	.content-con .box-left3 .to-bottom2{left: 249px;}
	.content-con .box-left3 .to-bottom3{left: 373px;}
	.content-con .box-left3 .to-bottom4{left: 498px;}
	.content-con .box-left3 .to-bottom5{left: 623px;}
	.content-con .box-left3 .to-right1,
	.content-con .box-left3 .to-right2,
	.content-con .box-left3 .to-right3{
		height: 1px; left: 0; right: 0;
	}
	.content-con .box-left3 .to-right1{top: 66px;}
	.content-con .box-left3 .to-right2{top: 131px;}
	.content-con .box-left3 .to-right3{top: 196px;}
	.content-con .box-left3 .box-hover-press{
		position: absolute; top: 0; left: 0; right: 0; bottom: 0;
    padding: 19px 0 18px; background-color: #f7f9fa;
    font-size: 0; line-height: 0; text-align: center; display: none;
	}
	.content-con .box-left3 .item-press:hover .box-hover-press{
		display: block;
	}
	.content-con .box-left3 .btn-subscibe-press,
	.content-con .box-left3 .link-news-press{
		display: inline-block; padding: 7px 8px 5px; 
		background-color: #fff; border: 1px solid #dae1e6;
    font-size: 12px; line-height: 16px;
    color: #505050; vertical-align: top;
	}
	.content-con .box-left3 .btn-subscibe-press+a{
		margin-left: -1px;
	}
	.content-con .box-left3 .btn-subscibe-press:hover,
	.content-con .box-left3 .link-news-press:hover{
		border-color: #bec8d8; position: relative;
	}
	.content-con .box-left3 .btn-prev,
	.content-con .box-left3 .btn-next{
		top: 110px; position: absolute; left: -27px;
		z-index: 10;
	}
	.content-con .box-left3 .icon-prev,
	.content-con .box-left3 .icon-next{
		display: inline-block; width: 44px; height: 44px;
    background-position: 0 -299px;
	}
	.content-con .box-left3 .btn-next{
    right: -13px; left: auto;
	}
	.content-con .box-left3 .icon-next{
		background-position: -224px -158px; 
	}
	.content-con .box-left3 .icon-prev:hover{
		background-position: -46px -299px;
	}
	.content-con .box-left3 .icon-next:hover{
		background-position: -92px -299px;
	}

	/* 왼쪽 4번째 박스 */
	.content-con .box-left4  { 
		letter-spacing: -.25px; line-height: 16px; 
		margin-top: 35px;
	}
	.content-con .box-left .box-theme-head { margin-bottom: 17px;}
	.content-con .box-left .box-title { float: left; font-size: 0px;}
	.content-con .box-left .box-info  { float: right;}
	.content-con .box-left .box-theme-head::after { clear: both; display: block; content: '';}
	.content-con .box-left .title{ font-weight: bold; font-size: 14px; line-height: 16px; color: #000;}
	.content-con .box-left .dsc  { font-size: 12px; color: grey; line-height: 16px; margin-left: 8px;}
	.content-con .box-left .info { font-size: 12px; color: grey;}
	.content-con .box-left .bold {font-weight: bold; color: #000;}
	.content-con .box-left .btn-set { color: #505050; margin-left: 14px; position: relative; font-size: 12px;}
	.content-con .box-left .btn-set::before{
		background-image: url(https://s.pstatic.net/static/www/img/uit/sp_main_4f8ccb.png);
		background-size: 457px 434px;
		content: ''; width: 11px; height: 11px;
		background-position: -444px -194px;
		margin-right: 4px; vertical-align: -1px;
		display: inline-block; opacity: .7; 
	}
	.content-con .box-left .btn-set::after{
		content: ''; width: 1px; height: 12px;
		position: absolute; background-color: #e4e8eb;
		top: 2px; left: -8px; 
	}
	.content-con .box-left .btn-set:hover{
		text-decoration: underline;
	}
	.content-con .box-left .btn-set:hover::before{
		opacity: 1;
	}
	.content-con .box-left .box-theme-category{
		position: relative; overflow: hidden;
	}
	.content-con .box-left .list-theme{
		font-size: 0; line-height: 0; white-space: nowrap;
	}
	.content-con .box-left .list-theme::before{
		content: ''; position: absolute;
		top: 0; left: 0; right: 0; bottom: 0; 
		border: 1px solid #dae1e6;
	}
	.content-con .box-left .item-theme{
		width: 94px; display: inline-block; position: relative;
	}
	/* ::before를 이용하여 표현한 테두리(position:absolute) 위에 배치하기 위해 */
	.content-con .box-left .item-theme:nth-child(8n+1){
		width: 92px;
	}
	.content-con .box-left .btn-theme{
		line-height: 49px; font-size: 13px;
		display: block; border-right: 1px solid #dae1e6;
		font-weight: bold;	text-align: center; color: #202020;
	}
	.content-con .box-left .btn-theme.enter:hover		 { color: #e65da0;}
	.content-con .box-left .btn-theme.sports:hover 	 { color: #0147b5;}
	.content-con .box-left .btn-theme.car:hover			 { color: #4a94e1;}
	.content-con .box-left .btn-theme.webtoon:hover	 { color: #66c971;}
	.content-con .box-left .btn-theme.economy:hover  { color: #35ae5e;}
	.content-con .box-left .btn-theme.subscibe:hover { color: #5290ff;}
	.content-con .box-left .btn-theme.receip:hover	 { color: #ebaa00;}
	.content-con .box-left .btn-theme.living:hover	 { color: #c08d31;}
	.content-con .box-left .btn-theme.book:hover		 { color: #42be6f;}
	.content-con .box-left .btn-theme.beauty:hover	 { color: #8449ca;}

	.content-con .box-left .btn-theme.enter.active		{ background-color: #e65da0;}
	.content-con .box-left .btn-theme.sports.active 	{ background-color: #0147b5;}
	.content-con .box-left .btn-theme.car.active			{ background-color: #4a94e1;}
	.content-con .box-left .btn-theme.webtoon.active	{ background-color: #66c971;}
	.content-con .box-left .btn-theme.economy.active  { background-color: #35ae5e;}
	.content-con .box-left .btn-theme.subscibe.active { background-color: #5290ff;}
	.content-con .box-left .btn-theme.receip.active	  { background-color: #ebaa00;}
	.content-con .box-left .btn-theme.living.active	  { background-color: #c08d31;}
	.content-con .box-left .btn-theme.book.active		  { background-color: #42be6f;}
	.content-con .box-left .btn-theme.beauty.active	  { background-color: #8449ca;}
	
	.content-con .box-left .btn-theme.active,
	.content-con .box-left .btn-theme.active:hover{
		color: #fff;
	}
	.content-con .box-left .btn-theme.active{
		margin: 0 -1px; border-radius: 1px;
		box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
	}
	.content-con .box-left .box-theme-body{ position: relative;}
	.content-con .box-left .btn-prev,
	.content-con .box-left .btn-next{
	width: 40px; height: 40px; position: absolute;
	background-position: -128px -345px;
	top: 6px; left: -23px; z-index: 10;
	background-image: url(https://s.pstatic.net/static/www/img/uit/sp_main_4f8ccb.png);
	background-size: 457px 434px;
	}
	.content-con .box-left .btn-prev:hover{
		background-position: -44px -345px;
	}
	.content-con .box-left .btn-next{
	left: auto; right: -18px;
	background-position: -86px -345px; 
	}
	.content-con .box-left .btn-next:hover{
		background-position: -170px -345px;
	}
	
	/* 오른쪽 1번째 박스(로그인) */
	.content-con .box-right1{
		height: 135px; box-sizing: border-box; border: 1px solid #dae1e6;
		background-color: #f7f9fa; padding: 16px 16px 12px 17px;
	}
	.content-con .box-right1 .msg-login{
		line-height: 16px; font-size: 12px;
		padding-left: 3px; color: gray;
	}
	.content-con .box-right1 .link-login{
		display: block; padding: 15px 0; margin-top: 11px;
		text-align: center; border: 1px solid #15c654;
		line-height: 16px; background-color: #19ce60;
		border-radius: 2px; color: #fff;
		font-size: 13px; font-weight: bold;
	}
	.content-con .box-right1 .icon-login{
		background-position: -138px -330px; width: 60px; height: 12px;
		margin: 2px 5px 0 0; vertical-align: top;
		display: inline-block;
	}
	.content-con .box-right1 .box-sub{
		margin: 14px 8px 0 4px; line-height: 16px; 
		font-size: 12px;
	}
	.content-con .box-right1 .box-sub::before{
		content: ''; float: left;
		width: 10px; height: 14px; vertical-align: top;
    background-position: -444px -98px; margin: -1px 1px 1px;
	}
	.content-con .box-right1 .link-find-id{
		float: left; margin-left: 4px;
	}
	.content-con .box-right1 .link-find-pw{
		float: left; margin-left: 4px;
	}
	.content-con .box-right1 .link-find-pw::before{
		content: ''; float: left;
    width: 3px; height: 3px; vertical-align: 3px;
		border-radius: 50%; margin: 7px 5px 0 2px;
		background-color: #d7dce0;
	}
	.content-con .box-right1 .link-signup{
		float: right;
	}
	.content-con .box-right1 .link-signup::before{
		content: ''; display: inline-block;
		width: 11px; height: 11px;
		margin: 2px 5px 0 0; vertical-align: top;
    background-position: -444px -129px; 
	}
	.content-con .box-right1 .box-sub a{
		 color: #404040;
	}
	.content-con .box-right1 .box-sub a:hover{
		text-decoration: underline;
	}

	/* 오른쪽 2번째 박스(증시) */
	.content-con .box-right2{
		border: 1px solid #dae1e6; line-height: 16px;
		letter-spacing: -.25px; font-size: 12px; 
		padding-right: 67px; height: 47px;
		color: #202020; position: relative;
	}
	.content-con .box-right2 .box-timesquare{
		width: 100%; height: 100%; overflow: hidden;
	}
	.content-con .box-right2 .list-timesquare{
		height: 100%; width: 400%;
	}
	.content-con .box-right2 .item-timesquare{
		height: 100%; width: calc(100% / 4); float: left;
	}
	.content-con .box-right2 .link-timesquare{
		display: block; padding: 15px 0 14px 16px;
		color: #202020;
	}
	.content-con .box-right2 .title-stock{
		float: left; font-size: 13px; margin-top: 1px;
	}
	.content-con .box-right2 .box-stock{
		height: 17px;
	}
	.content-con .box-right2 .box-stock::before{
		content: ''; float: left;
		width: 1px; height: 12px; margin: 3px 7px 2px 6px;
  	background-color: #e4e8eb; vertical-align: top;
	}
	.content-con .box-right2 .box-stock .name{
		font-style: normal; line-height: 17px; float: left;
		color: #505050;
	}
	.content-con .box-right2 .box-stock .current{
		font-style: 13px; line-height: 17px; float: left;
		margin-left: 6px;
	}
	.content-con .box-right2 .box-stock .rate{
		line-height: 17px; float: left;
		margin-left: 10px;
	}
	.content-con .box-right2 .box-stock .rate-up{
		color: #f05a5a;
	}
	.content-con .box-right2 .box-stock .rate-down{
		color: #2586ee;
	}
	.content-con .box-right2 .box-stock .rate-up::before,
	.content-con .box-right2 .box-stock .rate-down::before{
		width: 9px; height: 6px; float: left;
		margin: 5px 3px 0 0; content: ''; 
		background-position: -444px -424px;
	}
	.content-con .box-right2 .box-stock .rate-down::before{
		background-position: -408px -85px;
		margin-top: 6px;
	}
	.content-con .box-right2 .box-nav{
		position: absolute; top: 11px; right: 10px;
	}
	.content-con .box-right2 .box-nav .btn-nav{
		float: left; background-color: #fff;
		border: 1px solid #e4e8eb;
	}
	.content-con .box-right2 .box-nav .btn-next{
		margin-left: -1px;
	}
	.content-con .box-right2 .box-nav .btn-nav::before{
		width: 6px; height: 9px; vertical-align: top;
		background-position: -408px -74px;
		margin: 7px 8px 6px; content: ''; display: inline-block;
	}
	.content-con .box-right2 .box-nav .btn-next::before{
		background-position: -451px -392px;
	}

	/* 오른쪽 3번째 박스(광고) */
	.content-con .box-right3{
		margin-top: 12px;
	}
	.content-con .box-right3 .link-ad{
		display: block; line-height: 0; font-size: 0;
	}
	.content-con .box-right3 .img-ad{
		width: 350px; height: 200px;
	}
	


	.footer-con{ height: 1000px; background: purple;}

	/* 공용 */
	.fixed-con{ padding: 0 30px; box-sizing: border-box;}

	/* 배경이미지1 공용 */
	.icon-search, 
	.link-naver, 
	.search-con .link-set-naver::after, 
	.icon-jr-naver, 
	.icon-happybin, 
	.search-con .icon-kbd,
	.search-con .icon-auto,
	.menu-con .list-menu .mail::before,
	.menu-con .list-menu .shopping::before,
	.menu-con .list-menu .shopping-live::before,
	.menu-con .list-menu .tv::before,
	.menu-con .btn-more::after,
	.content-con .box-right1 .icon-login,
	.content-con .box-right1 .box-sub::before,
	.content-con .box-right1 .link-signup::before,
	.content-con .box-left2 .link-media::after,
	.content-con .box-right2 .box-stock .rate::before,
	.content-con .box-right2 .box-nav .btn-nav::before,
	.bg-img,
	.bg-img::after,
	.bg-img::before{
		background-image: url(https://s.pstatic.net/static/www/img/uit/sp_main_4f8ccb.png);
		background-size: 457px 434px;
	}

	/* clearfix 공용 */
	.search-con .box-service::after,
	.content-con .box-right1 .box-sub::after,
	.content-con .box-left2::after,
	.content-con::after,
	.fixed-con::after,
	.after::after{
		clear: both; display: block; content: '';
	}
